@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.pp_wrapper {
    background: url(../../img/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.pp_content {
  background-color: rgb(248, 255, 246, .8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);;
  border-radius: 30px;
  margin: auto;
  margin-top: 250px;
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pp_name {
    margin: 35px auto 15px auto;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 36px;
    color: var(--orange);
    letter-spacing: 1px;
}

.pp_email {
    font-family: 'Share', cursive;
    font-size: 24px;
    color: var(--yellow);
}

.pp_hamburger_menu {
    float: right;
    margin-top: 60px;
    margin-right: 100px;
    transition: 0.2s;
}
      
.pp_hamburger_menu:hover {
    cursor: pointer;
    transform: translateY(3px);
}

.signout_btn {
    float: right;
    margin-top: 65px;
    margin-right: 15%;
    color: var(--orange);
    font-family: 'Share', cursive;
    font-weight: 400;
    font-size: 36px;
    transition: 0.2s;
    cursor: pointer;
  }
    
.signout_btn:hover {
    transform: translateY(3px);
}

.provider-of {
  font-family: 'Share', cursive;
  font-size: 28px;
  font-weight: 400;
  color: var(--violet);
  opacity: .8;
  margin-bottom: 2%;
}