@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.choose_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.choose_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 3%;
} 

.seller_btn {
  background: radial-gradient(78.42% 62.07% at 66.9% 33.79%, rgba(242, 216, 81, 0.5) 7.57%, #F2D851 100%);
  width: 290px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 4%;
  margin-left: 7%;
  transition: .2s;
}

.seller_btn:hover {
  transform: translateY(3px);
  cursor: pointer;
}

.seller_btn p {
  font-size: 36px;
  color: var(--violet);
  font-weight: 400;
}

.buyer_btn {
  background: radial-gradient(158.45% 76.97% at 71.35% 14.04%, rgba(244, 130, 26, 0.5) 0%, #F4821A 100%);
  width: 356px;
  height: 356px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  margin-left: 25%;
  transition: .2s;
}

.buyer_btn:hover {
  transform: translateY(5px);
  cursor: pointer;
}


.buyer_btn p {
  font-size: 36px;
  color: var(--light-green);
  font-weight: 400;
}


#description {
  margin-top: 2%;
  font-size: 18px;
  opacity: .7;
}

.bm-burger-button {
  width: 84px;
  height: 50px;
  float: right;
  margin-top: 60px;
  margin-right: 100px;
  transition: 0.2s;
  position: relative;
}

.bm-burger-button:hover {
  cursor: pointer;
  transform: translateY(3px);
}