@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.askforsignin_wrapper {
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
}


.ask_hamburger_menu {
    float: right;
    margin-top: 60px;
    margin-right: 100px;
    transition: 0.2s;
}
      
.ask_hamburger_menu:hover {
    cursor: pointer;
    transform: translateY(3px);
}

.askforsignin_content {
    display: flex;
    justify-content: center;
}

.askforsignin_content h1 {
    margin-top: 20%;
    font-family: 'Share', cursive;
    font-size: 36px;
    opacity: .7;
}

u {
    cursor: pointer;
}