@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.chat_wrapper {
  background: url(img/chat_bg.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.chat_content {
  margin: 0 auto;
  background-color: var(--light-green);
}

.chat_hamburger_menu {
  float: right;
  margin-top: 60px;
  margin-right: 100px;
  transition: 0.2s;
  }
  
.chat_hamburger_menu:hover {
  cursor: pointer;
  transform: translateY(3px);
}