@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dw_wrapper {
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.dw_content {
  margin: auto;
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  margin: 0;
  margin-top: 10%;
  margin-bottom: 7%;
  float: left;
  clear: both;
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: 400;
  font-size: 72px;
  color: var(--violet);
}

.dw_list {
  padding: 0;
  list-style-type: none;
  width: 130%;
  border: 1px solid var(--violet);
  margin-bottom: 5%;
  border-bottom: none;
}

.dw_item {
  border-bottom: 1px solid var(--violet);
  background-color: rgba(248, 255, 246, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  transition: 0.2s;
  text-decoration: none;
}

.dw_item:hover {
  cursor: pointer;
  background: rgba(233, 236, 255, 0.7);
}

.dw_name {
  flex: 1;
  margin-left: 30px;
  color: var(--orange);
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.7;
}

.dw_price {
  flex: 1;
  color: var(--orange);
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 18px;
}

.dw_distance {
  flex: 1;
  color: var(--violet);
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 18px;
}

.pages_numbers {
  margin: auto;
  margin-top: 200px;
  width: 20%;
  padding: 5px 10px;
  background-color: var(--violet);
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
}

.page_number {
  color: var(--light-green);
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
}

.page_number:hover {
  cursor: pointer;
  color: var(--yellow);
}

/* .page_number:focus {
  background-color: rgba(242, 216, 81, 0.3);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
} */

.dw_hamburger_menu {
  float: right;
  margin-top: 60px;
  margin-right: 100px;
  transition: 0.2s;
}

.dw_hamburger_menu:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.link {
  text-decoration: none;
}
