@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
}

.wrapper {
  background: url('./img/bg.png');
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.content {
  margin: auto;
  margin-top: 300px;
  width: 50%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-family: 'Sedgwick Ave Display', cursive;
  font-weight: 400;
  font-size: 144px;
  line-height: 180px;
  color: var(--violet);
}

.description {
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  color: var(--violet);
}

.findnow_button {
  margin-top: 40px;
  padding: 5px 60px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: var(--violet);
  color: var(--light-green);
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 36px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.findnow_button:hover {
  opacity: 1;
}

.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 


.search-div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-div p {
  color: var(--violet);
  margin-bottom: 40px;
}

.service {
  font-size: 36px;
  padding: 20px 40px;
  text-align: center;
  background-color: rgba(77, 99, 212, 0.1);
  border: 1px solid var(--violet);
  border-radius: 50px;
  font-family: 'Share', cursive;
  color: var(--violet);
  opacity: .8;
  transition: .2s;
}

.service:hover {
  transform: translateY(3px);
}

.services_dw {
  margin-bottom: 40px;
}

.link_to_list {
  text-decoration: none;
}

/* SLIDER MENU */

.bm-burger-button {

  float: right;
  margin-top: 60px;
  margin-right: 100px;
  transition: 0.2s;
  position: relative;
}

.bm-burger-button:hover {
  cursor: pointer;
  transform: translateY(3px);
}

.burger-icon-img {
  width: 100px;
  height: 100px;
}

.bm-cross-button {
  position: relative;
  margin-top: 60px;
  margin-right: 100px;
  transition: .2s;
}

.bm-cross-button:hover {
  transform: translateY(3px);
}

 #react-burger-cross-button {
  padding-top: 100px;
  margin-top: 60px;
  margin-right: 100px;
}

.menu-item {
  font-family: 'Share', cursive;
  text-decoration: none;
  color: var(--light-green);
  font-size: 48px;
  font-weight: 400;
  outline: none;
  margin-bottom: 70px;
  transition: .2s;
  cursor: pointer;
}

.menu-item:hover {
  transform: translateY(3px);
  color: var(--yellow);
}

.bm-menu {
  background: var(--violet);
  padding: 9em 4em 0;
}

@media screen and (max-width: 600px) {

  h1 {
    margin: 0;
    font-size: 56px;
    line-height: 120px;
  }

  .wrapper {
    background: url('./img/bg.png');
    background-size: 1000px;
    background-position: 20% 20%;
    background-repeat: no-repeat;
    height: 100vh;
    position: fixed;
  }

  .content {
    margin: auto;
    margin-top: 60%;
    width: 70%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .description {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    opacity: .8;
  }

  .findnow_button {
    margin-top: 7%;
    padding: 5px 30px;
    border-radius: 30px;
    font-weight: 400;
    font-size: 22px;
    opacity: 1;
  }
  
  .burger-icon-img {
    width: 10px;
    height: 10px;

  }

  .bm-burger-button {
    width: 10px;
    height: 10px;
    margin-top: 2%; 
    margin-right: 5%;
  }

  .bm-menu {
    padding: 15% 15% 0;
  }

  .menu-item {
    font-size: 20px;
    margin-bottom: 25%;
    transition: .2s;
    font-weight: 100;
  }

  .service {
    font-size: 22px;
    padding: 10px 50px;
    text-align: center;
    opacity: .8;
    transition: .2s;
  }

  .services_dw {
    margin-bottom: 5%;
  }

  .search-div {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }

  .search-div p {
    margin-bottom: 10%;
  }
}