@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.omenu_wrapper {
    background-color: rgb(0, 0, 0, .75);
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.omenu_content {
    margin-top: 240px;
    margin-left: 75%;
    display: flex;
    flex-direction: column;
}

.omenu_content h4 {
    text-align: center;
    color: var(--light-green);
    font-family: 'Share', cursive;
    font-size: 48px;
    margin-bottom: 65px;
    font-weight: 400;
    cursor: pointer;
}