@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reset_wrapper {
  background: url(img/bg.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.reset_content {
  margin: auto;
  margin-top: 300px;
  width: 50%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reset_content h3 {
  color: var(--orange);
  font-family: 'Share', cursive;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 50px;
}

.reset_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reset_input {
  font-family: 'Share', cursive;
  color: var(--violet);
  font-size: 22px;
  width: 130%;
  padding: 4% 40% 3% 10%;
  background-color: var(--light-green);
  border: 1px solid var(--violet);
  border-radius: 50px;
  outline: none;
  cursor: text;
}

.reset_btn {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 5px 60px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: var(--violet);
  color: var(--light-green);
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 36px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}

.reset_btn:hover {
  opacity: 1;
}

.reset_back {
  color: var(--violet);
  font-family: 'Share', cursive;
  font-weight: 400;
  font-size: 24px;
  cursor: pointer;
}