@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=Share&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: #4D63D4;
  --yellow: #F2D851;
  --orange: #F4821A;
  --light-green: #F8FFF6;


}

body {
  background-color: var(--light-green);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.signupDW_wrapper {
    background: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.signupDW_content {
  margin: auto;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: 4px 1px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 33%;
  height: 73%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signupDW_input {
    padding: 4% 0% 3% 10%;
    font-family: 'Share', cursive;
    color: var(--violet);
    font-size: 36px;
    background-color: var(--light-green);
    border: 1px solid var(--violet);
    border-radius: 50px;
    outline: none;
    cursor: text;
    margin-bottom: 40px;
    width: 90%;
  }
  
::placeholder {
    color: var(--violet);
    font-family: 'Share', cursive;
    font-weight: 400;
    font-size: 36px;
    opacity: 0.7;
    overflow: visible;
}

.DWpassword {
    background-image: url('img/show.png');
    background-position: 92% 50%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

p {
    color: var(--light-green);
    font-family: 'Share', cursive;
    font-size: 36px;
    font-weight: 400;
}

.DWforgot_password {
    text-decoration: underline;
    font-size: 24px;
    opacity: .7;
    cursor: pointer;
}

.signupDW_button {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 5px 60px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: var(--light-green);
    color: var(--violet);
    font-family: 'Share', cursive;
    font-weight: 400;
    font-size: 36px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}
  
.signupDW_button:focus {
    box-shadow: none;
}

.google_icon {
  padding: 5px 60px 5px 30px;
  background-image: url('img/google.png');
  background-position: 94% 50%;
  background-repeat: no-repeat;
  margin-bottom: 90px;
}

.exist-acc-divDW p {
    opacity: .7;
    color: var(--violet);
    text-decoration: underline;
    cursor: pointer;
}

/* .signup_hamburger_menu {
    float: right;
    margin-top: 60px;
    margin-right: 100px;
    transition: 0.2s;
}
      
.signup_hamburger_menu:hover {
    cursor: pointer;
    transform: translateY(3px);
} */

.label-div {
  display: flex;
  justify-content: space-between;
  color: var(--light-green);
  font-family: 'Share', cursive;
  font-size: 22px;
  font-weight: 400;
  width: 35%;
}

.label-dw {
    display: flex;
    justify-content: space-between;
    color: var(--violet);
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    width: 50%;
}

/* .label-dw:hover {
    cursor: pointer;
    opacity: 1;
} */

.label-bs {
    display: flex;
    justify-content: space-between;
    color: var(--violet);
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    width: 41%;
}

/* .label-bs:hover {
    cursor: pointer;
    opacity: 1;
} */

.choose-the-service-p {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 2%;
    color: var(--violet);
}


.choose-the-price-p {
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 2%;
    margin-top: 4%;
    color: var(--orange);
}

/* .price-slider {
  -webkit-appearance: none;
  width: 50%;
  height: 20px;
  border-radius: 10px;
  background: var(--light-green);
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: .2s;
}

.price-slider:hover {
  opacity: 1;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 35px;
  border-radius: 50%;
  background: var(--orange);
  cursor: pointer;
} */

.price-slider {
  width: 50%;
}

.your-price {
  color: var(--violet);
}